{% extends 'admin_site/layout.html' %}
{% load static %}
{% load humanize %}

{% block 'main' %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">ACTIONS:
                <a class="btn btn-warning" href="{% url 'supplier_edit' supplier.id %}" title="Edit Supplier"><i
                        class="bi bi-pencil-square"></i></a>
                <a class="btn btn-danger" href="{% url 'supplier_delete' supplier.id %}" title="Delete Supplier"><i
                        class="bi bi-trash"></i></a>

                <button class="btn btn-danger" onclick="window.history.back()" title="Go Back"><i
                        class="bi bi-arrow-left"></i></button>

            </h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body pt-3">
                <ul class="nav nav-tabs nav-tabs-bordered">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-target="#profile-overview" data-bs-toggle="tab">SUPPLIER DATA</a>
                    </li>

                </ul>

                <div class="tab-content pt-2">
                    <div class="tab-pane fade show active profile-overview" id="profile-overview">

                        <div class="col-12 grid-margin">
                            <div class="row">
                            <div class="col-md-6">
                                <div class="card info-card sales-card">
                                    <div class="card-body">
                                        <h5 class="card-title"></h5>
                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex bg-primary align-items-center justify-content-center">
                                                <i class="bi bi-alarm-fill text-white"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6>{{ supplier|title }}</h6>
                                                <span class="text-muted small pt-2 ps-1">Supplier Name</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="card info-card sales-card">
                                    <div class="card-body">
                                        <h5 class="card-title"></h5>
                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle bg-success d-flex align-items-center justify-content-center">
                                                <i class="bi bi-alarm-fill text-white"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6>{{ supplier.contact_person|title }}</h6>
                                                <span class="text-muted small pt-2 ps-1">Contact Person</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card info-card sales-card">
                                    <div class="card-body">
                                        <h5 class="card-title"></h5>
                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex bg-warning align-items-center justify-content-center">
                                                <i class="bi bi-alarm-fill text-white"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6>{{ supplier.phone_number }}</h6>
                                                <span class="text-muted small pt-2 ps-1">Phone Number</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card info-card sales-card">
                                    <div class="card-body">
                                        <h5 class="card-title"></h5>
                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex bg-danger align-items-center justify-content-center">
                                                <i class="bi bi-alarm-fill text-white"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6>{{supplier.email|lower}}</h6>
                                                <span class="text-muted small pt-2 ps-1">Email</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="card info-card sales-card">
                                    <div class="card-body">
                                        <h5 class="card-title"></h5>
                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex bg-primary align-items-center justify-content-center">
                                                <i class="bi bi-alarm-fill text-white"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6>{{ supplier.address }}</h6>
                                                <span class="text-muted small pt-2 ps-1">Address</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                            <div class="card">
                                <div class="card-body" style="padding:20px">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="card-title"> SUPPLIER PRODUCTS </p>

                                            <div class="row">

                                                <div class="col-md-12">

                                                    <ul class="list-group">
                                        {% for product in supplier.products.all %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                  {{ product|upper }}
                                                <span class="">
                                                    <a title="View Class Detail" href="{% url 'product_detail' product.id %}" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                                                </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>

{%endblock %}
